*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #000080;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.addBtn:hover {
  background-color: #bbb;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.title{
  font-size: 30px;
  font-weight: 600;
  color: #000080;
  letter-spacing: 1px;
  margin: 30px 0;
}

.todoList{
  width: 450px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: fff;
}

.listHeader{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px
}

.enterList{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.addBtn{
  border: none;
  border-radius: 5px;
  background-color: #000080;
  outline: none;
  font-size: 16px;
  color: #fff;
  opacity: .6;
}

.add-list.active{
  opacity: 1;
}

.task{
  width: 100%;
  margin-top: 30px;
}

